* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: 'Montserrat', sans-serif;
  min-width: -webkit-fit-content;
  min-width: -moz-fit-content;
  min-width: fit-content;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

.header-carousel {
  height: 45rem;
  width: 100%;
  position: relative;
  /* Next & previous buttons */
  /* Position the "next button" to the right */
  /* On hover, add a black background color with a little bit see-through */
  /* Fading animation */
}

.header-carousel .header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 100;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 2.5rem;
}

.header-carousel .header img {
  margin-left: 2.5rem;
  width: 5.5rem;
}

.header-carousel .header .nav-bar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header-carousel .header .nav-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-right: 2.5rem;
}

.header-carousel .header .nav-list .dropdown {
  position: relative;
}

.header-carousel .header .nav-list .dropdown:hover .dropdown-content {
  display: block;
}

.header-carousel .header .nav-list .dropdown .dropdown-content {
  display: none;
  position: absolute;
  top: 33px;
  width: 8.75rem;
  border: 1px solid rgba(255, 255, 255, 0.25);
  background-color: rgba(255, 255, 255, 0.15);
}

.header-carousel .header .nav-list .dropdown .dropdown-content .droplink {
  display: inline-block;
  width: 80%;
  color: #fff;
  margin: 15px 0 15px 15px;
  padding-bottom: 8px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.25);
}

.header-carousel .header .nav-list .dropdown .dropdown-content .droplink:hover {
  border-bottom: 1px solid #fa2a2a;
}

.header-carousel .header .nav-list .nav-link {
  font-size: 0.87rem;
  padding: 1rem 1.9rem;
  color: #fff;
}

.header-carousel .header .nav-list .nav-link:hover {
  border-bottom: 1px solid #fa2a2a;
}

.header-carousel .header .nav-list .contact {
  background-color: rgba(255, 255, 255, 0.15);
  border-radius: 3px;
}

.header-carousel .header .nav-list .contact:hover {
  border-bottom: none;
  background-color: #fa2a2a;
}

.header-carousel .text-box {
  position: absolute;
  top: 30%;
  left: 12%;
  z-index: 100;
  width: 28.5rem;
  height: 20rem;
}

.header-carousel .text-box .info {
  color: #fa2a2a;
  font-size: 0.87rem;
  letter-spacing: 3px;
  margin-bottom: 1rem;
  display: block;
}

.header-carousel .text-box .title {
  color: #fff;
  font-size: 3rem;
  margin-bottom: 2.5rem;
}

.header-carousel .text-box .description {
  color: #ccc5c5;
  width: 19.3rem;
  padding-left: 1.87rem;
  border-left: 1px solid #fa2a2a;
}

.header-carousel .mySlides {
  display: none;
  height: 100%;
  overflow: hidden;
  position: relative;
}

.header-carousel .mySlides img {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center center;
     object-position: center center;
  position: absolute;
  bottom: 0;
  right: 0;
}

.header-carousel .prev, .header-carousel .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 19px 22px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  -webkit-transition: 0.6s ease;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  background-color: rgba(255, 255, 255, 0.15);
}

.header-carousel .next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

.header-carousel .prev:hover, .header-carousel .next:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

.header-carousel .fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {
    opacity: .4;
  }
  to {
    opacity: 1;
  }
}

@keyframes fade {
  from {
    opacity: .4;
  }
  to {
    opacity: 1;
  }
}

.about {
  height: 45rem;
  width: 100%;
  padding: 7.5rem 9rem 5.5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.about .panel {
  width: 50%;
}

.about .left {
  position: relative;
}

.about .left .img-background {
  background-color: #212121;
  height: 100%;
  width: 22.5rem;
  margin: 0 auto;
  padding-bottom: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  font-style: italic;
  color: rgba(255, 255, 255, 0.25);
}

.about .left img {
  position: absolute;
  top: 25%;
  left: 15%;
}

.about .right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.about .right .info {
  color: #fa2a2a;
  line-height: 1rem;
  letter-spacing: 3px;
  font-size: 0.85rem;
  display: inline-block;
  margin-bottom: 1.2rem;
}

.about .right .title,
.about .right .subtitle,
.about .right .description {
  width: 50%;
}

.about .right .title {
  font-size: 2.4rem;
  line-height: 3rem;
  margin-bottom: 2.5rem;
}

.about .right .subtitle {
  font-size: 1.25rem;
  color: #212121;
  line-height: 1.8rem;
  margin-bottom: 1.2rem;
}

.about .right .description {
  line-height: 1.5rem;
  color: #4e4e4e;
}

.featured {
  height: 33.7rem;
  padding: 6.5rem 0 6.5rem 9.2rem;
  background: -webkit-gradient(linear, right top, left top, from(rgba(0, 0, 0, 0)), to(#000000)), url(../images/section-banner.jpg) no-repeat center center/cover;
  background: linear-gradient(270deg, rgba(0, 0, 0, 0) 0%, #000000 100%), url(../images/section-banner.jpg) no-repeat center center/cover;
}

.featured .wrapper {
  width: 34.6rem;
  margin-left: 6rem;
}

.featured .wrapper .info {
  color: #fa2a2a;
  font-size: 0.85rem;
  letter-spacing: 3px;
  line-height: 1rem;
  display: inline-block;
  margin-bottom: 0.6rem;
}

.featured .wrapper .title {
  font-size: 2.3rem;
  line-height: 3rem;
  color: #fff;
  margin-bottom: 1.25rem;
}

.featured .wrapper .description {
  color: #CCC5C5;
  margin-bottom: 2.5rem;
}

.featured .wrapper .specs {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.featured .wrapper .specs .spec {
  height: 9rem;
  width: 10rem;
  background-color: rgba(255, 255, 255, 0.15);
  border: 1px solid rgba(255, 255, 255, 0.25);
  color: #fff;
  text-align: center;
}

.featured .wrapper .specs .spec-title {
  margin: 1.6rem 0 1.25rem;
  font-size: 0.87rem;
}

.featured .wrapper .specs .spec-value {
  font-size: 1.75rem;
  margin-bottom: 0.6rem;
}

.featured .wrapper .specs .spec-unit {
  font-size: 0.87rem;
  font-style: italic;
}

.products-container {
  height: 45.5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.products-container .products-wrapper {
  height: 35.5rem;
  width: 71.2rem;
}

.products-container .products-wrapper .products-title {
  text-align: center;
  font-size: 2.4rem;
  margin-bottom: 3.7rem;
}

.products-container .products-wrapper .products-categories {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  width: 70%;
  margin: 0 auto 1.8rem;
}

.products-container .products-wrapper .products-categories .category {
  color: #929aad;
}

.products-container .products-wrapper .products-categories .category:hover, .products-container .products-wrapper .products-categories .category:focus {
  border-bottom: 1px solid #fa2a2a;
  color: #212121;
}

.products-container .products-wrapper .cars {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.products-container .products-wrapper .cars .car {
  height: 25rem;
  width: 16.4rem;
}

.products-container .products-wrapper .cars .car-img {
  display: inline-block;
  margin: 1.8rem auto 1.5rem;
  width: 80%;
  height: 100px;
}

.products-container .products-wrapper .cars .car-info {
  text-align: center;
  color: #929aad;
  margin-bottom: 5px;
}

.products-container .products-wrapper .cars .car-name {
  text-align: center;
  font-size: 1.25rem;
  color: #212121;
  font-weight: bold;
  margin-bottom: 5px;
}

.products-container .products-wrapper .cars .car .btn {
  display: block;
  color: #2A6EFA;
  font-size: 0.8rem;
  margin: 0 auto 1rem;
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.products-container .products-wrapper .cars .car .specs {
  margin-bottom: 1.25rem;
}

.products-container .products-wrapper .cars .car .specs .spec span {
  color: #929aad;
  font-size: 0.9rem;
  line-height: 1.8rem;
}

.products-container .products-wrapper .cars .car .specs .spec .checkmark {
  color: #59CEB2;
}

.products-container .products-wrapper .cars .bottom-selection {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.products-container .products-wrapper .cars .bottom-selection .price {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.products-container .products-wrapper .cars .bottom-selection .price label {
  color: #929aad;
  font-size: 0.8rem;
}

.products-container .products-wrapper .cars .bottom-selection .price-amount {
  font-size: 1.25rem;
  font-weight: bold;
  color: #212121;
}

.products-container .products-wrapper .cars .bottom-selection button {
  border: none;
  color: #fa2a2a;
  padding: 0.5rem 1.1rem;
  background-color: rgba(250, 42, 42, 0.1);
  border-radius: 17px;
  margin-right: 1.2rem;
  cursor: pointer;
}

.contact-section {
  height: 47.5rem;
  background: linear-gradient(135deg, #282a2f 0%, #000 100%);
  padding-top: 7.5rem;
}

.content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  max-width: 71.25rem;
  margin: auto;
}

.content .text-wrapper {
  position: relative;
  text-align: start;
}

.content .text-wrapper .info {
  color: #fa2a2a;
  font-size: 0.75rem;
  letter-spacing: 5px;
}

.content .text-wrapper .title {
  width: 35.6rem;
  font-size: 3rem;
  line-height: 3.6rem;
  color: #fff;
  z-index: 20;
  position: absolute;
}

.content .text-wrapper img {
  width: 80rem;
  position: absolute;
  top: 6.25rem;
  left: -35rem;
  z-index: 10;
}

.content .contact-form {
  width: 28.6rem;
  height: 32.5rem;
  padding: 3.25rem 3rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-color: #011f05;
  position: relative;
}

.content .contact-form input,
.content .contact-form textarea {
  background: rgba(255, 255, 255, 0.15);
  padding-left: 1.25rem;
  margin-bottom: 1.87rem;
  color: #9b9c9d;
  border: 1px solid rgba(255, 255, 255, 0.25);
  border-radius: 3px;
  font-size: 0.87rem;
  font-family: 'Roboto Condensed', sans-serif;
}

.content .contact-form input {
  width: 100%;
  height: 3.75rem;
}

.content .contact-form textarea {
  height: 9.3rem;
  padding-top: 1.25rem;
}

.content .contact-form .btn {
  height: 56px;
  width: 125px;
  margin: auto;
  background: transparent;
  color: #fff;
  border: 2px solid rgba(255, 255, 255, 0.25);
  border-radius: 3px;
  cursor: pointer;
}

.footer {
  margin: 5rem auto 0;
  width: 71rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.footer span {
  font-size: 0.87rem;
  color: rgba(255, 255, 255, 0.25);
}

.footer .privacy {
  margin-left: 1.8rem;
}

@media (max-width: 1320px) {
  .header-carousel {
    height: 40rem;
  }
  .about {
    padding: 2rem 4rem;
  }
  .about .left img {
    left: 0;
  }
  .about .right .title,
  .about .right .subtitle,
  .about .right .description {
    width: 75%;
  }
  .featured {
    padding: 3rem 0 3rem;
  }
  .featured .wrapper {
    margin-top: 3rem;
    margin-left: 8.3rem;
  }
  .products-container .products-wrapper .cars {
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
  }
  .contact-section {
    height: 45rem;
    padding-top: 5rem;
  }
  .contact-section .text-wrapper {
    margin-left: 3rem;
  }
  .contact-section .text-wrapper img {
    width: 60rem;
    top: 12rem;
    left: -22rem;
  }
  .contact-section .contact-form {
    margin-right: 3rem;
  }
  .contact-section .footer {
    padding: 0 3rem;
  }
}

@media (max-width: 539px) {
  .header-carousel {
    height: 75rem;
  }
  .header-carousel .header {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .header-carousel .header img {
    margin: 0;
    width: auto;
  }
  .header-carousel .header .nav-list {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin: 3rem auto 0;
  }
  .header-carousel .header .nav-list .dropdown .dropdown-content {
    top: 20px;
    left: 250px;
    width: 12rem;
  }
  .header-carousel .header .nav-list .dropdown .dropdown-content .droplink {
    font-size: 1.7rem;
  }
  .header-carousel .header .nav-list .nav-link {
    display: inline-block;
    font-size: 1.7rem;
  }
  .header-carousel .text-box {
    top: 40%;
    width: 35rem;
  }
  .header-carousel .text-box .info {
    font-size: 1.5rem;
  }
  .header-carousel .text-box .title {
    font-size: 4.5rem;
  }
  .header-carousel .text-box .description {
    font-size: 2.2rem;
    width: 25rem;
  }
  .header-carousel .mySlides img {
    height: 100%;
  }
  .about {
    height: 80rem;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .about .panel {
    width: 100%;
    height: 50%;
  }
  .about .left .img-background {
    width: 25rem;
    font-size: 2rem;
  }
  .about .left img {
    top: 5.5rem;
    width: 80%;
    left: 10%;
  }
  .about .right .title,
  .about .right .subtitle,
  .about .right .description {
    width: 90%;
    text-align: center;
  }
  .about .right .info {
    font-size: 1.8rem;
  }
  .about .right .title {
    font-size: 3.6rem;
    line-height: 1.2;
  }
  .about .right .subtitle {
    font-size: 3rem;
    line-height: 1.2;
  }
  .about .right .description {
    font-size: 2.2rem;
    line-height: 1.2;
  }
  .featured {
    height: 82rem;
  }
  .featured .wrapper {
    width: 85%;
    margin: 3rem auto 0;
  }
  .featured .wrapper .info {
    font-size: 2rem;
    display: block;
    text-align: center;
  }
  .featured .wrapper .title {
    font-size: 3.6rem;
    text-align: center;
    margin: 2.5rem auto;
  }
  .featured .wrapper .description {
    font-size: 2.8rem;
    text-align: center;
  }
  .featured .wrapper .specs {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-left: 5rem;
    gap: 1rem;
  }
  .featured .wrapper .specs .spec {
    height: 15rem;
    width: 20rem;
  }
  .featured .wrapper .specs .spec-title {
    font-size: 2.2rem;
  }
  .featured .wrapper .specs .spec-value {
    font-size: 4rem;
  }
  .featured .wrapper .specs .spec-unit {
    font-size: 2rem;
  }
  .products-container {
    height: 185rem;
  }
  .products-container .products-wrapper {
    height: 100%;
    width: 100%;
  }
  .products-container .products-wrapper .products-title {
    font-size: 4rem;
    margin: 3rem auto;
  }
  .products-container .products-wrapper .products-categories {
    width: 90%;
  }
  .products-container .products-wrapper .products-categories .category {
    font-size: 2.4rem;
  }
  .products-container .products-wrapper .cars {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .products-container .products-wrapper .cars .car {
    width: 38rem;
    height: 42rem;
  }
  .products-container .products-wrapper .cars .car-img {
    display: block;
    height: auto;
    margin: 1rem auto;
  }
  .products-container .products-wrapper .cars .car-info {
    font-size: 2rem;
  }
  .products-container .products-wrapper .cars .car-name {
    font-size: 3rem;
  }
  .products-container .products-wrapper .cars .car .btn {
    font-size: 2.2rem;
  }
  .products-container .products-wrapper .cars .car .specs .spec {
    margin-bottom: 1rem;
    margin-left: 1rem;
  }
  .products-container .products-wrapper .cars .car .specs .spec span {
    font-size: 2.2rem;
  }
  .products-container .products-wrapper .cars .car .bottom-selection .price {
    margin-left: 1rem;
  }
  .products-container .products-wrapper .cars .car .bottom-selection .price label {
    font-size: 2rem;
  }
  .products-container .products-wrapper .cars .car .bottom-selection .price-amount {
    font-size: 3rem;
  }
  .products-container .products-wrapper .cars .car .bottom-selection button {
    font-size: 2.8rem;
  }
  .contact-section {
    height: 84rem;
  }
  .contact-section .content {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    height: 80%;
  }
  .contact-section .content .text-wrapper {
    width: 100%;
    text-align: center;
    margin-left: 0;
  }
  .contact-section .content .text-wrapper .info {
    font-size: 1.8rem;
  }
  .contact-section .content .text-wrapper .title {
    width: 80%;
    font-size: 3.6rem;
    position: static;
    margin: 1rem auto;
  }
  .contact-section .content .text-wrapper img {
    top: 48rem;
    left: -30rem;
  }
  .contact-section .content .contact-form {
    height: 80%;
    width: 80%;
    margin-right: 0;
  }
  .contact-section .content .contact-form input {
    height: 6rem;
    font-size: 2.2rem;
  }
  .contact-section .content .contact-form textarea {
    height: 18rem;
    font-size: 2.2rem;
  }
  .contact-section .content .contact-form .btn {
    width: 12rem;
    height: 6rem;
    font-size: 2.2rem;
    border: 3px solid rgba(255, 255, 255, 0.25);
  }
  .contact-section .footer {
    margin: 10rem auto 0;
  }
  .contact-section .footer span {
    font-size: 1.5rem;
  }
}
