* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 100%;
    font-family: 'Montserrat', sans-serif;
    //font-family: 'Roboto Condensed', sans-serif;
}

.carousel {
    height: 45rem;
    width: 100%;
    position: relative;

    // Hide images by default
    .mySlides {
        display: none;
        height: 100%;
        overflow: hidden;
        

        img {
            width: 100%;
            object-fit: cover;
        }
    }

    /* Next & previous buttons */
    .prev, .next {
        cursor: pointer;
        position: absolute;
        top: 50%;
        width: auto;
        margin-top: -22px;
        padding: 19px 22px;
        color: white;
        font-weight: bold;
        font-size: 18px;
        transition: 0.6s ease;
        border-radius: 0 3px 3px 0;
        user-select: none;
        background-color: rgba(255,255,255,0.15);
    }

    /* Position the "next button" to the right */
    .next {
        right: 0;
        border-radius: 3px 0 0 3px;
    }
    /* On hover, add a black background color with a little bit see-through */
    .prev:hover, .next:hover {
        background-color: rgba(0,0,0,0.8);
    }

    /* Fading animation */
    .fade {
        -webkit-animation-name: fade;
        -webkit-animation-duration: 1.5s;
        animation-name: fade;
        animation-duration: 1.5s;
    }
    
    @-webkit-keyframes fade {
        from {opacity: .4}
        to {opacity: 1}
    }
    
    @keyframes fade {
        from {opacity: .4}
        to {opacity: 1}
    }
}

// About section
.about {
    height: 45rem;
    width: 100%;
    border: 1px solid red;
    padding: 7.5rem 9rem 5.5rem ;
    display: flex;

    .panel {
        width: 50%;
    }

    .left {
        position: relative;
        
        .img-background {
            background-color: #212121;
            height: 100%;
            width: 22.5rem;
            margin: 0 auto;
            padding-bottom: 20px;
            display: flex;
            align-items: flex-end;
            justify-content: center;
            text-align: center;
            font-style: italic;
            color: rgba(255,255,255,0.25);
        }

        img {
            position: absolute;
            top: 25%;
            left: 15%;
        }
    }

    .right {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        .info {
            color: #fa2a2a;
            line-height: 1rem;
            font-size: 0.85rem;
            display: inline-block;
            margin-bottom: 1.2rem;
        }

        .title,
        .subtitle,
        .description {
            width: 50%;
        }

        .title {
            font-size: 2.4rem;
            line-height: 3rem;
            margin-bottom: 2.5rem;
        }

        .subtitle {
            font-size: 1.25rem;
            color: #212121;
            line-height: 1.8rem;
            margin-bottom: 1.2rem;
        }

        .description {
            line-height: 1.5rem;
            color: #4e4e4e;
        }
    }
}